body {
    padding-top: 50px;
    background-color: #aaa;
    font-family: 'Ubuntu', Arial, sans-serif;
    margin: 0;
}

a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

#landingContainer {
    text-align: center;
    color: #000000;
    font-size: 1.33em;
    box-shadow: inset 0 0 5px 1px black;
    position: absolute;
    top: 55px;
    width: 100%;
    height: calc(100% - 55px);
}

#mainPlay {
    padding: 40px 15px;
    text-align: center;
}

#bigPlayButton {
    font-size: 2.5em;
    color: inherit;
}

#controlBar {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: solid 10px black;
    height: 75px;
}

.changeStationText {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 0;
}

.verticalCenter {
    min-height: 100%;
    min-height: calc(100vh - 140px);
    top: 55px;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: -55;
    box-shadow: inset 0 0 5px 1px black;
}

#stationInfo {
    text-align: center;
    border-top: solid #000000 0.25em;
    border-bottom: solid #000000 0.25em;
    font-size: 2em;
    width: 100%;
    padding: 15px;
}

#currentSong {
    font-weight: bold;
}

.navigationBar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000000;
    color: white;
    width: 100%;
    box-shadow: inset 0 0 5px 1px black;
}

.clickable {
    cursor: pointer;
}

.topRightIcon {
    padding: 18px 7px 10px;
    z-index: 10;
    width: 1em;
}

#spectrum {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.playerButtonIcon {
    position: fixed;
    cursor: pointer;
    padding: 10px;
    top: auto;
    bottom: -8px;
}

#prevGenreButton {
    left: 0;
}

#nextGenreButton {
    right: 0;
}

#playButton, #stopButton {
    left: calc(50% - 23px);
}

#nextStationButton {
    left: calc(75% - 25px);
}

#prevStationButton {
    left: calc(25% - 10px);
}

.innerArrow {
    top: 8px;
    pointer-events: none;
}

.innerBox {
    pointer-events: none;
}

.faveBox {
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color: white;
    float: left;
    -webkit-box-shadow: inset 0 0 3px black;
    -moz-box-shadow: inset 0 0 3px black;
    box-shadow: inset 0 0 3px black;
}

.faveAdd {
    top: 11px;
    left: 9px;
    color: black;
    position: relative;
}

.faveRemove {
    left: 33px;
    top: -10px;
    color: white;
    position: relative;
}

.favePlay {
    top: 10px;
    left: -3px;
    color: black;
    position: relative;
}

nav.navigationBar {
    min-height: 55px;
}

span.navbar-brand {
    font-size: 19px;
    padding: 16px;
    float: left;
    line-height: 20px;
}

.smallButtonsHolder {
    padding-bottom: 10px;
}

.spectrumMarker {
    position: absolute;
    z-index: 1030;
    top: -40px;
    color: #000000;
    pointer-events: none;
}

.spectrumClickBar {
    position: absolute;
    width: 100%;
    height: 25px;
    top: -7px;
}

.infoText {
    font-size: 1.15em;
    padding : 1.5em;
    max-width: 50em;
}