body {
    padding-top: 50px;
    font-weight: 300;
    background-color: #ddd;
    font-family: 'Ubuntu', Arial, sans-serif;
    margin: 0;
}

a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

h1, h3 {
    font-weight: 300;
}

#landingContainer {
    text-align: center;
    color: #000000;
    font-size: 1.33em;
    box-shadow: inset 0 0 5px 1px black;
    position: absolute;
    top: 53px;
    width: 100%;
    height: calc(100% - 53px);
}

#mainPlay {
    padding: 40px 15px;
    text-align: center;
}

#bigPlayButton {
    font-size: 2.5em;
    color: inherit;
}
#bigPlayButton:hover {
    color: dimgrey;
}

#controlBar {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: solid 3px #000;
    height: 80px;
}

.changeStationText {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 0;
}

.verticalCenter {
    min-height: 100%;
    min-height: calc(100vh - 136px);
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    box-shadow: inset 0 0 5px 1px black;
}

#stationInfo {
    text-align: center;
    border-top: solid #000000 3px;
    border-bottom: solid #000000 3px;
    font-size: 2em;
    width: 100%;
    padding: 15px;
}

#currentSong {
    font-weight: bold;
}

.navigationBar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000000;
    color: white;
    width: 100%;
    box-shadow: inset 0 0 5px 1px black;
}

.clickable {
    cursor: pointer;
}

.topRightIcon {
    padding: 18px 7px 10px;
    z-index: 10;
    width: 1em;
}
.topRightIcon:hover {
    color: grey;
}

#spectrum {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.playerButtonIcon {
    position: fixed;
    cursor: pointer;
    padding: 10px;
    top: auto;
    bottom: -8px;
}
.playerButtonIcon:hover {
    color: dimgrey;
}

#prevGenreButton {
    left: 0;
}

#nextGenreButton {
    right: 0;
}

#playButton, #stopButton {
    left: calc(50% - 37px);
}

#nextStationButton {
    left: calc(75% - 53px);
}

#prevStationButton {
    left: calc(25% - 20px);
}

.innerArrow {
    top: 8px;
    pointer-events: none;
}

.innerBox {
    pointer-events: none;
}

.faveBox {
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color: white;
    float: left;
    -webkit-box-shadow: inset 0 0 3px black;
    -moz-box-shadow: inset 0 0 3px black;
    box-shadow: inset 0 0 3px black;
}

.faveAdd {
    top: 11px;
    left: 9px;
    color: black;
    position: relative;
}
.faveAdd:hover {
    color: dimgrey;
}

.faveRemove {
    left: 33px;
    top: -10px;
    color: white;
    position: relative;
}
.faveRemove:hover {
    color: grey;
}

.favePlay {
    top: 10px;
    left: -3px;
    color: black;
    position: relative;
}
.favePlay:hover {
    color: dimgrey;
}


nav.navigationBar {
    min-height: 50px;
}

span.navbar-brand {
    font-weight: 300;
    font-size: 19px;
    padding: 16px;
    float: left;
    line-height: 20px;
}

.smallButtonsHolder {
    padding-bottom: 10px;
    cursor: default;
}

.spectrumMarker {
    position: absolute;
    z-index: 1030;
    top: -40px;
    color: #000000;
    pointer-events: none;
    line-height: 68px;
    font-size: 55px;
}

.spectrumClickBar {
    position: absolute;
    width: 100%;
    height: 25px;
    top: -7px;
}

.infoText {
    font-size: 1.15em;
    padding : 1.5em;
    max-width: 50em;
}

#volumeBar {
    width: 0;
    height: 25px;
    display: inline-block;
    padding: 0 5px;
}

#volumeLine {
    border-top: 2px solid;
    width: 100%;
    display: inline-block;
    margin-bottom: 4px;
}

#volumeSlider {
    pointer-events: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
