<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TODO"> <!-- TODO -->
    <meta name="author" content="TODO"> <!-- TODO -->

    <title>{{ config['APP_NAME'] }}</title>
    {% block styles %} {% endblock %}
</head>
<body>
    <nav class="navigationBar">
        <span class="navbar-brand">
            <a href="/">{{ config['APP_NAME'] }}</a>
        </span>
        {% block header %} {% endblock %}
    </nav>
    {% block content %} {% endblock %}

    {% block scripts %} {% endblock %}
</body>
</html>