{% extends "base.html" %}
{% import 'github.html' as github %}

{% block styles %}
    <link href="{{ url_for('static', filename='css/player.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{{ github.github_corner() }}
<div class="infoText">
    <h3> About {{ config['APP_NAME'] }} </h3>
    <p>
        {{ config['APP_NAME'] }} is a place where you can find internet radio now.<br>
        If you have any questions or comments please send them to info@nowrad.io
    </p>

    <h3>Keyboard controls</h3>
    <ul>
        <li>Space bar: play/pause</li>
        <li>left arrow key: previous station in current genre</li>
        <li>right arrow key: next station in current genre</li>
        <li>double-tap left arrow key: previous genre</li>
        <li>double-tap right arrow key: next genre</li>
        <li>up arrow key: increase volume</li>
        <li>down arrow key: decrease volume</li>
        <li>s key: add current station to favourites</li>
        <li>1-5 number keys: start playing corresponding favourite</li>
    </ul>

    <h3>Updates</h3>
    <p>April 19, 2015</p>
    <ul>
        <li>Keyboard shortcuts for adding and selecting favourites</li>
        <li>Removed a few stations that play advertisements at the start</li>
        <li>If you put the player in dark mode, it will remember the next time you visit</li>
        <li>Simplified station changing controls slightly</li>
        <li>The space bar now starts the player from the landing page</li>
    </ul>
    <p>April 12, 2015</p>
    <ul>
        <li>Added Volume control</li>
        <li>Stops refreshing station name when player is paused</li>
        <li>Stops downloading music stream when player is paused</li>
    </ul>

    <h3>Contributors</h3>
    <ul>
        <li><a href="http://nick.hrynuik.com">Nicholas Hrynuik</a></li>
        <li>Nicholas Gibson</li>
        <li><a href="https://github.com/vshwnth2">Mahesh Vishwanth</a></li>
        <li><a href="https://github.com/Pavitheran">Pavi Suben</a></li>
        <li><a href="https://victorszeto.com/">Victor Szeto</a></li>
    </ul>
</div>
{% endblock %}
