{% extends "base.html" %}

{% block styles %}
    <link href="{{ url_for('static', filename='css/player.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- GitHub banner -->
<a href="https://github.com/karlwithak/nowradio" target="_blank">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png">
</a>

<div class="infoText">
    <h3> About {{ config['APP_NAME'] }} </h3>
    <p>
        {{ config['APP_NAME'] }} is a place where you can find internet radio now.<br>
        It was made by Nicholas Gibson and <a href="//nick.hrynuik.com">Nicholas Hrynuik</a>. <br>
        If you have any questions or comments please send them to info@nowrad.io
    </p>

    <h3>Keyboard controls</h3>
    <ul>
        <li>Space bar: play/pause</li>
        <li>m: mute/unmute</li>
        <li>left arrow key: previous station in current genre</li>
        <li>right arrow key: next station in current genre</li>
        <li>double-tap left arrow key: previous genre</li>
        <li>double-tap right arrow key: next genre</li>
    </ul>
</div>
{% endblock %}
