{% extends "base.html" %}

{% block styles %}
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/player.css') }}" rel="stylesheet">

    <noscript>
        <style type="text/css">
            #mainContainer, #landingContainer, #faveHolder, .smallButtonsHolder {
                display: none;
            }
        </style>
    </noscript>
{% endblock %}

{% block header %}
    <div class="pull-left" id="faveHolder">
        <div class="faveBox" id="oldFaveBox" title="play saved station">
            <span class="fa fa-times faveRemove clickable"></span>
            <span class="fa fa-lg fa-play favePlay clickable"></span>
        </div>
        <div class="faveBox" id="newFaveBox" title="save station">
            <span class="fa fa-lg fa-heart faveAdd clickable"></span>
        </div>
    </div>
    <div class="pull-right smallButtonsHolder">
       <!--  <span id="shareButton" class="fa fa-lg fa-share-square-o clickable topRightIcon"></span> -->
        <span id="infoButton" class="fa fa-lg fa-info-circle clickable topRightIcon"></span>
        <span id="brightnessButton" class="fa fa-lg fa-adjust clickable topRightIcon"></span>
        <span id="unmuteButton" class="fa fa-lg fa-volume-off clickable topRightIcon"></span>
        <span id="muteButton" class="fa fa-lg fa-volume-up clickable topRightIcon"></span>
    </div>
{% endblock %}


{% block content %}
    <div id="landingContainer">
        <h1>
            {{ config['APP_NAME'] }}
        </h1>
        <p class="lead">
            {{ config['APP_SLOGAN'] }}
        </p>
        <span id="bigPlayButton" class="clickable" style="display: none">
            <span class="fa fa-5x fa-play-circle-o"></span>
        </span>
        <div class="stillLoading">
            <span id="bigCog" class="fa fa-5x fa-cog fa-spin"></span>
            <p>Loading...</p>
        </div>
    </div>

    <div id="mainContainer" style="display: none;">
        <div class="verticalCenter">
            <div id="stationInfo">
                <span>Currently Playing:</span> <span id="currentSong">Song</span>
            </div>
        </div>

        <nav id="controlBar" class="navbar-fixed-bottom">
            <span class="spectrumClickBar clickable"></span>
            <span class="fa fa-2dot8 fa-share-square-o fa-flip-horizontal playerButtonIcon"
                    title="last genre" id="prevGenreButton"></span>
            <span class="fa-stack fa-1dot6 playerButtonIcon" title="last station" id="prevStationButton">
                <span class="fa fa-arrow-left fa-stack-1x innerArrow"></span>
                <span class="fa fa-square-o fa-stack-2x innerBox"></span>
            </span>
            <span class="fa-stack fa-1dot6 playerButtonIcon" title="play" id="playButton">
                <span class="fa fa-play fa-stack-1x innerArrow"></span>
                <span class="fa fa-square-o fa-stack-2x innerBox"></span>
            </span>
            <span class="fa-stack fa-1dot6 playerButtonIcon" title="pause" id="stopButton">
                <span class="fa fa-pause fa-stack-1x innerArrow"></span>
                <span class="fa fa-square-o fa-stack-2x innerBox"></span>
            </span>
            <span class="fa-stack fa-1dot6 playerButtonIcon" title="next station" id="nextStationButton">
                <span class="fa fa-arrow-right fa-stack-1x innerArrow"></span>
                <span class="fa fa-square-o fa-stack-2x innerBox"></span>
            </span>
            <span class="fa fa-2dot8 fa-share-square-o playerButtonIcon" title="next genre" id="nextGenreButton"></span>
            <img src="{{ url_for('static', filename='img/spectrum.png') }}" id="spectrum"/>
            <span class="fa fa-4x fa-sort-desc spectrumMarker clickable"></span>
        </nav>

        <audio id="player" preload="auto"></audio>
    </div>
    <noscript>
        <p class="infoText"> Javascript must be enabled to view this site!</p>
    </noscript>
{% endblock %}

{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/player.js') }}"></script>
    <script src="{{ url_for('static', filename='js/velocity.min.js') }}"></script>
{% endblock %}