{% extends "base.html" %}

{% block styles %}
    <link href="{{ url_for('static', filename='css/player.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

    <noscript>
        <style type="text/css">
            #mainContainer, #landingContainer, #faveHolder, .smallButtonsHolder {
                display: none;
            }
        </style>
    </noscript>
{% endblock %}

{% block header %}
    <div class="pull-left" id="faveHolder">
        <div class="faveBox" id="oldFaveBox">
            <span class="fa fa-times faveRemove clickable"></span>
            <span class="fa fa-lg fa-play favePlay clickable"></span>
        </div>
        <div class="faveBox" id="newFaveBox">
            <span class="fa fa-lg fa-plus faveAdd clickable" data-toggle="tooltip"
                    data-placement="bottom" title="save station"></span>
        </div>
    </div>
    <div class="pull-right smallButtonsHolder">
        <!-- <span class="share-button"></span> -->
        <span id="infoButton" class="fa fa-lg fa-info-circle clickable topRightIcon"></span>
        <span id="brightnessButton" class="fa fa-lg fa-adjust clickable topRightIcon"></span>
        <span id="unmuteButton" class="fa fa-lg fa-volume-off clickable topRightIcon"></span>
        <span id="muteButton" class="fa fa-lg fa-volume-up clickable topRightIcon"></span>
    </div>
{% endblock %}


{% block content %}
    <div id="landingContainer">
        <h1>
            {{ config['APP_NAME'] }}
        </h1>
        <p class="lead">
            {{ config['APP_SLOGAN'] }}
        </p>
        <a id="bigPlayButton" href="javascript:void(0)">
            <span class="fa fa-5x fa-play-circle-o"></span>
        </a>
        <div class="stillLoading">
            <span id="bigCog" class="fa fa-5x fa-cog fa-spin"></span>
            <p>Loading...</p>
        </div>
    </div>

    <div id="mainContainer">
        <div class="verticalCenter">
            <div id="stationInfo">
                <span>Currently Playing:</span> <span id="currentSong">Song</span>
            </div>
        </div>

        <nav id="controlBar" class="navbar-fixed-bottom">
            <div id="playerContainer">
                <span class="fa fa-2x fa-step-backward playerButtonIcon" data-toggle="tooltip"
                    title="last station" id="prevStationButton"></span>
                <span class="fa fa-2x fa-play playerButtonIcon" data-toggle="tooltip"
                    title="play" id="playButton"></span>
                <span class="fa fa-2x fa-pause playerButtonIcon" data-toggle="tooltip"
                    title="pause" id="stopButton"></span>
                <span class="fa fa-2x fa-step-forward playerButtonIcon" data-toggle="tooltip"
                    title="next station" id="nextStationButton"></span>
                <span class="fa fa-2x fa-arrow-left playerButtonIcon" data-toggle="tooltip"
                       title="last genre" id="prevGenreButton"></span>
                <span class="fa fa-2x fa-arrow-right playerButtonIcon" data-toggle="tooltip"
                       title="next genre" id="nextGenreButton"></span>
                <img src="{{ url_for('static', filename='img/spectrum.png') }}" id="spectrum"/>
            </div>
        </nav>
        <span class="fa fa-2x fa-sort-desc spectrumMarker" id="markerTop"></span>

        <audio id="player" preload="auto"></audio>
    </div>
    <noscript>
        <p class="infoText"> Javascript must be enabled to view this site!</p>
    </noscript>
{% endblock %}

{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/player.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.color-2.1.2.min.js') }}"></script>
{% endblock %}