{% extends "base.html" %}
{% block header %}
    <nav class="navigationBar">
        <span class="navbar-brand">{{ config['APP_NAME'] }}</span>
        <div class="pull-left" id="faveHolder">
            <div class="faveBox" id="oldFaveBox">
                <span class="glyphicon glyphicon-remove faveRemove clickable"></span>
                <span class="glyphicon glyphicon-play favePlay clickable"></span>
            </div>
            <div class="faveBox" id="newFaveBox">
                <span class="glyphicon glyphicon-plus faveAdd clickable" data-toggle="tooltip"
                        data-placement="bottom" title="save station"></span>
            </div>
        </div>
        <div class="pull-right">
            <span class="share-button"></span>
            <span id="infoButton" class="glyphicon glyphicon-info-sign clickable topRightIcon"></span>
            <!--<span id="settingsButton" class="glyphicon glyphicon-cog clickableIcon"></span>-->
            <span id="unmuteButton" class="glyphicon glyphicon-volume-off clickable topRightIcon"></span>
            <span id="muteButton" class="glyphicon glyphicon-volume-up clickable topRightIcon"></span>
        </div>
    </nav>
    <!--
    <div id="settingsPanel" class="topRightPanel pull-right">
        <div class="navbarSpacer"></div>
        <p>
            <span>Turn down the lights</span>
            <button class="btn btn-default">Dark Mode</button>
        </p>
        <p>
            <span>Show me something very different</span>
            <button class="btn btn-default">Obscure Mode</button>
        </p>
        <p>
            <span>Turn off the colors</span>
            <button class="btn btn-default">Colorless</button>
        </p>
    </div>
    -->

    <div id="infoPanel" class="topRightPanel pull-right">
        <p>{{ config['APP_NAME'] }} is a place to hear music without having to choose it</p>
        <p>It was made by Nicholas Gibson and Nicholas Hrynuik</p>
    </div>
{% endblock %}


{% block landing %}
    <div class="container">
        <div id="mainLanding">
            <h1>
                {{ config['APP_NAME'] }}
            </h1>
            <p class="lead">
                Play whatever
            </p>
            <a id="bigPlayButton" class="large-play" href="javascript:void(0)">
                <i class="glyphicon glyphicon-play-circle"></i>
            </a>
            <img src="{{ url_for('static', filename='img/loader.gif') }}" id="loader"/>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="verticalCenter">
        <div id="stationInfo">
            <span>Currently Playing:</span> <span id="currentSong">Song</span>
        </div>
    </div>

    <nav id="controlBar" class="navbar-fixed-bottom">
        <div id="playerContainer">
            <div class="mainButtons">
                <div id="prevGenreButton" class="customButton">
                    <span class="glyphicon glyphicon-arrow-left buttonIcon" data-toggle="tooltip"
                        title="last genre"></span>
                </div>
                <div id="prevStationButton" class="customButton">
                    <span class="glyphicon glyphicon-step-backward buttonIcon" data-toggle="tooltip"
                        title="last station"></span>
                </div>
                <div id="playButton" class="customButton">
                    <span class="glyphicon glyphicon-play buttonIcon" data-toggle="tooltip"
                        title="play"></span>
                </div>
                <div id="stopButton" class="customButton">
                    <span class="glyphicon glyphicon-pause buttonIcon" data-toggle="tooltip"
                        title="pause"></span>
                </div>
                <!-- <p class="changeStationText">Change station</p> -->
                <div id="nextStationButton" class="customButton">
                    <span class="glyphicon glyphicon-step-forward buttonIcon" data-toggle="tooltip"
                        title="next station"></span>
                </div>
                <div id="nextGenreButton" class="customButton">
                    <span class="glyphicon glyphicon-arrow-right buttonIcon" data-toggle="tooltip"
                        title="next genre"></span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <img src="{{ url_for('static', filename='img/spectrum.png') }}" id="spectrum"/>
    </nav>

    <audio id="player" preload="auto"></audio>
{% endblock %}